/*VARIABLES AND SOME DEFAULT SETTINGS*/
:root {
    --black: #191919;
    --white: #d6d7db;
    --hover: #e5e7eb80
}
*{
    font-size: 12px;
    color: var(--white);
    font-weight: 500;
    font-family: "JetBrainsMono NF";
    margin: 0;
    padding: 0;
}
/*GENERAL CONFIGRATIONS*/
.yasb-bar {
	padding: 0;
	margin: 0;
    background-color: transparent;
}
.grouped-widgets {
    background-color: var(--black);
    border-radius: 14px;
    padding: 0 0px;
;
}
.widget {
    padding: 0 0px;
    margin: 0 3px;
}
.widget .icon {
    font-size: 18px;
}
.widget .label {
    color: var(--white);
}

/*APPS*/
.apps-widget .label {
    color: var(--white);
    padding: 0px 1px;
    font-size: 12px;
}

/*WIDGET*/

.home-widget .label {
    font-family: "JetBrainsMono NFP";
    padding: px 8px;
    margin-right: 0px;
    font-size: 14px;
}

/*HOME WIDGET DROPDOWN*/
.home-menu {
    background-color: var(--black);
    margin-left: 6px;
    border-radius: 15px;
}
.home-menu .menu-item {
    padding: 8px 10px 10px 8px;
    font-size: 12px;
    font-family: "JetBrainsMono NFP";
    font-weight: 600;
    margin-left: 6px;
}
.home-menu .menu-item:hover {
    background-color:rgba(128, 130, 158, 0.15);
    color: var(--white);
    margin-left: 6px;
}

/*CLOCK - CALENDAR WIDGET*/
.clock-widget .label {
    font-family: Poppins;
    color: var(--white);
    font-size: 12px;
}

.clock-widget {
    background-color: var(--black);
}

/*ACTIVE WINDOW (WINDOW NAME) WIDGET*/
.active-window-widget .label {
    font-family: Poppins;
    padding: 0 8px;
}

/*CLOCK - CALENDAR WIDGET DROPDOWN*/
.calendar {
    background-color: var(--black);
    border: 0px solid var(--black);
    border-radius: 15px;
}
.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: var(--black);
    color: var(--white);
    font-family: 'JetBrainsMono NFP';
    margin: 0;
    padding: 0;
    border: none;
    outline: none;  
}
.calendar .calendar-table::item:selected {
    color: var(--white);
}
.calendar .day-label {
    margin-top: 20px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-family: 'JetBrainsMono NFP';
    font-size: 16px;
    color: var(--white);
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}
.calendar .month-label {
    font-weight: normal;
}
.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: var(--white);
    margin-top: -20px;
}

/*AUDIO WIDGET*/
.volume-widget {
    background-color: var(--black);
}
.volume-widget .icon {
    padding: 0 6px;
    color: var(--white);
    padding-left: 5px;
    padding-top: 1;
    font-size: 30px;
}
.volume-widget .label {
    font-family: JetBrainsMono NF;
    color: var(--white);
    font-size: 15px;
    padding: 3px;
}
/*AUDIO DROPDOWN*/
.audio-menu {
    background-color: var(--black);
}
.audio-container .device {
    font-family:  "Poppins";
    background-color: transparent;
    border: none;
    padding:6px 8px 6px 4px;
    margin: 2px 0;
    border-radius: 15px;
}
.audio-container .device.selected {
    background-color: rgba(255, 255, 255, 0.085);
}
.audio-container .device:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

/*MEDIA WIDGET*/
.media-widget {
    background-color: var(--black);
    
}
.media-widget .label {
    font-family: Poppins;
    color: var(--white);
}
.media-widget .btn {
    color: var(--white);
    padding-left: -20px;
}

/*MEDIA POPUP*/
.media-menu {
  min-width: 416px;
  max-width: 416px;
  background-color: var(--black);
  border-radius: 15px;
}
.media-menu .thumbnail {
  border: 2px solid var(--white);
  border-radius: 8px;
}
.media-menu .title,
.media-menu .artist,
.media-menu .source {
  font-size: 16px;
  font-family: Poppins;
  color: var(--white);
  margin-left: 10px;
}
.media-menu .artist {
  font-size: 13px;
  color: var(--white);
  margin-top: 5px;
  margin-bottom: 0px;
}
.media-menu .source {
  font-size: 13px;
  color: var(--black);
  font-family: Poppins;
  border-radius: 11px;
  background-color: var(--white);
  padding: 2px 6px;
}
.media-menu .source.firefox {
  background-color: #ff583b;
  color: #e5e7eb;
}
.media-menu .source.spotify {
  background-color: #199143;
  color: #e5e7eb;
}
.media-menu .source.edge {
  background-color: #0078d4;
  color: #e5e7eb;
}
.media-menu .source.windows-media {
  background-color: #0078d4;
  color: #e5e7eb;
}
.media-menu .btn {
  font-family: "Segoe Fluent Icons";
  font-size: 14px;
  font-weight: bold;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  color: var(--white);
}
.media-menu .btn.prev {
  margin-left: 10px;
  color: var(--white);
}
.media-menu .btn:hover {
  color: var(--icon);
  background-color: transparent;
}
.media-menu .btn.play {
  background-color: var(--black);
  font-size: 20px;
}
.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
}
.media-menu .playback-time {
  font-size: 14px;
  font-family: Poppins;
  color: var(--white);
  margin-top: 12px;
  min-width: 100px;
}
.media-menu .progress-slider {
  height: 10px;
  border-radius: 3px;
  color: var(--white);
}
.media-menu .progress-slider::groove {
  background: var(--subtext0);
  height: 4px;
  border-radius: 3px;
}
.media-menu .progress-slider::groove:hover {
  background: var(--subtext0);
  height: 6px;
  border-radius: 3px;
}
.media-menu .progress-slider::sub-page {
  background: var(--white);
  border-radius: 6px;
  height: 4px;
}

/*POWER WIDGET*/
.power-menu-widget .label {
	color: var(--white);
    font-size: 13px;
    padding-right: 10px;
    color: #d37171;
}
/*POWER MENU POPUP*/
.uptime {
	font-size: 14px;
	margin-bottom: 10px;
	color: rgba(191, 202, 219, 0.726);
	font-weight: 600;
	font-family: "Poppins";
}
.power-menu-popup .button {
	padding: 0;
	width: 160px;
	height: 240px;
	border-radius: 15px;
	background-color: var(--black);
	font-family: "Poppins";
	color: var(--white);
	border: 0px solid var(--black);
 
}
.power-menu-popup .button.hover {
	background-color: #3d3d3d;
}
.power-menu-popup .button .label {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 400;
	color: var(--white);
	font-family: "Poppins";
}
.power-menu-popup .button .icon {
	font-size: 64px;
	padding-top: 54px;
	color: var(--white);
    padding-right: 30px;
}
.power-menu-popup .button.cancel .icon {
	color: #d37171;
}
.power-menu-popup .button.cancel .label {
	color: #d37171;
}
.cava-widget {
    background-color: var(--black);
}

/*SYSTEM TRAY*/

.systray .button {
  background: var(--black); 
}
.systray .unpinned-visibility-btn {
  border-radius: 0px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "JetBrainsMono NF";
  font-size: 19px;
  padding-right: 4px;
}

.systray .label {
    background-color: #3fb950;
}

/*TASKBAR WIDGET*/


.taskbar-widget .app-container {
    padding: 0px 7px;
    border-radius: 11px;
    margin: 3px 0px;
}
.taskbar-widget .app-container.foreground {
    background-color: rgba(255, 255, 255, 0.1);

}


.taskbar-widget .app-container.foreground .app-title:hover {
    margin: 4px 2px;
    color: var(--black);
    background-color: var(--white);
}

.taskbar-widget .app-container.flashing {
    background-color: rgba(255, 106, 106, 0.63);
    margin: 3px 2px;
}
.taskbar-widget .app-container.running {
    background-color: var(--black);
    margin: 3px 2px;
}

.taskbar-widget .app-container.running .app-title:hover{
    color: var(--black);
    background-color: var(--white);
    margin: 3px 2px;
}


.taskbar-widget .app-container .app-title {
    color: var(--white);
    font-family: Poppins;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 11px;
    font-weight: 500;
}
/* Taskbar preview popup is very limited in styling options, do not use margins/paddings here */
.taskbar-preview {
    border-radius: 12px; 
    background-color: var(--black); 
}
.taskbar-preview.flashing { 
    background-color: #7f434a;
}
.taskbar-preview .header {
    padding-bottom: 12px;
    padding-top: 4px;
}
.taskbar-preview .header .title {
    color: var(--white);
    font-family: "Poppins";
    font-weight: 500;
    font-size: 12px;
}

.separator-widget .widget-container .label{
    color: rgba(255, 255, 255, 0.425);
}
.clear-widget .widget-container .label{
    color: var(--black);
}


/*komorebi*/
.komorebi-workspaces .offline-status {
    color: transparent;
    padding: 0;
    font-size: 1px;
}
.komorebi-workspaces .ws-btn {
    border: none;
    background-color: #3d3d3d;
    margin: 0 3px;
    font-size: 0px;
    color: transparent;
    width: 11px;
    height: 11px;
    border-radius: 5px;
}
.komorebi-workspaces .ws-btn:hover {
    background-color: var(--subtext1);
}
.komorebi-workspaces .ws-btn.populated {
    background-color: #b3b3b3;
}
.komorebi-workspaces .ws-btn.active {
    color: transparent;
    background-color: #D3D3D3;
    width: 25px;
    max-width: 25px;
    height: 11px;
}
.komorebi-workspaces .float-override {
    color: var(--green);
    padding-left: 6px;
}
